*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
    .area_2{
        flex-direction: column;
    }
    .Articulos{
        max-width: 100%;
        min-width: 100%;
    }
    .Articulos_img{
        max-width: 100%;
        min-width: 100%;
    }
    .Articulos_2{
        max-width: 100%;
        min-width: 100%;
        
    }
    .Articulos_3{
        max-width: 100%;
        min-width: 100%;
    }
    .Parrafos{
        font-size: 1rem;
    }
    .Titulo{
        font-size: 2rem;
    }
    .Titulos{
        font-size: 1rem;
    }
}
    @media only screen and (min-width: 768px) {
        .area_2{
            flex-direction: row;
        }
        .Parrafos{
            font-size: 2rem;
        }
        .Titulo{
            font-size: 5rem;
        }
        .Titulos{
            font-size: 3rem;

        }
    }

.Pag{
width: 100%;
height: 100vh;
}
.Imagen_principal{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}
.Titulo{
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
    text-align: center;
    max-width: 500px;   
}
.area_1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262626;
}
.area_2{
    width: 100%;
    height: 100vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
    background-color: #262626;
    padding: 2%;
    gap: 2%;
}
.area_3{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #262626;
    padding: 2%;
    gap: 2%;
    
}
.Articulos{
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: #465973;
    border-radius: 5%;
    color: #262626;
    max-width: fit-content;
    min-width: 50%;
    

}
.Titulos{
    max-width: 100%;
    width: 100%;
    text-align: center;
    padding: 1% 0%;
    
}
.Parrafos{
    max-width: 100%;
    width: 100%;
    text-align: center;
    padding: 2% 2%;
    
    overflow: hidden;
}
.Articulos_img{
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: #465973;
    border-radius: 5%;
    color: #262626;
    font-size: 3rem;
    max-width: fit-content;
    min-width: 50%;
    overflow: hidden;
    object-fit: cover;
}
.Texto_2{
    max-width: 100%;
    width: 100%;
    text-align: center;
    padding: 10%;
}
.Articulos_2{
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 30px;
    width: 100%;
    height: 70%;
    background-color: #3e3e3f;
    object-fit: cover;
    overflow: hidden;    
}
.Dubijo{
position:relative;
width: 100vh;
height: 100%;
left: -6%;


}
.Cabeza {
 
    width: 100px;
    height: 100px;
    background-color: #F2E3D5;
    transform: rotate(35deg);
    margin: 50px;
    position: absolute;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    top: 0vh;
    left: 28%;
    animation-name: Movimiento_de_caeza;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;

}
.Cabeza::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 100px solid transparent; /* Lado izquierdo */
    border-right: 100px solid transparent; /* Lado derecho */
    border-bottom: 150px solid #F26B1D; /* Color del triángulo */
    border-radius: 20px; /* Bordes redondeados (no tendrá efecto en el triángulo) */
    margin: 50px;
    transform: rotate(136deg);
    top: -77%;
    left: -101%;
    z-index: -1;
}
.Cabeza::after{
    content: "";
    position: absolute;
    width: 10%;
    height: 10%;
    border-radius: 50%;
    background-color: #343435;
    z-index: 3;
    top: 94%;
    left: 93%;
}

@keyframes Movimiento_de_caeza{
50%{

    transform: rotate(45deg);

}
100%{
    transform: rotate(0deg);
}

}

    

.Ojos{
    content: "";
    position: absolute;
    width: 5px;
    height: 40px;
    background-color: black;
    border-radius: 5px;
    transform: rotate(70deg);
    top: 28%;
    left: -6%;
    animation-name: Ojitos_lindos; /* Corrige el nombre de la animación */
    animation-duration: 2s;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    
}
.Ojos::after{
    content: "";
    position: absolute;
    width: 5px;
    height: 40px;
    background-color: black;
    border-radius: 5px;
    transform: rotate(119deg);
    top: -159%;
    left: -576%;
}
.Cuerpo{
    position: absolute;
    width: 129px;
    height: 160px;
    background-color: #F26B1D;
    clip-path: polygon(7% 0%, 86% 0%, 100% 138%, 0% 100%);
    top: 48%;
    left: 32%;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.Cuerpo::after{
    content: "";
    position: absolute;
    width: 94px;
    height: 145px;
    background-color: #F2E3D5;
    clip-path: polygon(11% 39%, 77% -13%, 121% 138%, 0% 100%);
    top: -3%;
    left: 13%;
}
.Sombra{
    position: relative;
    height: 223px;
    width: 567px;
    background-color: #343435;
    top: 58%;
    left: 17%;
    border-radius: 50%;
    z-index: 0;
    transform: rotate(-4deg);

}
.Flor{
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #F2E3D5;
    border-radius: 50%;
    border: 5px solid #262626;
    z-index: 3;
    top: -24%;
    left: 70%;
    
}
.Flor::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 11px;
    background-color: #F26B1D;
    border-radius: 50%;
    border: 5px solid #262626;
    z-index: 1;
    top: -63%;
    left: 117%;
        }
.Flor::before{
    content: "";
    position: absolute;
    width: 17px;
    height: 11px;
    background-color: #F26B1D;
    border-radius: 50%;
    border: 5px solid #262626;
    z-index: 1;
    top: -63%;
    left: -268%;
}   
.Petalos{
    position: absolute;
    width: 27px;
    height: 20px;
    background-color: #F26B1D;
    border-radius: 50%;
    border: 5px solid #262626;
    z-index: 1;
    top: 75%;
    left: 69.7%;
    transform: rotate(90deg);
    
}
.Petalos::after{
    content: "";
    position: absolute;
    width: 17px;
    height: 10px;
    background-color: #F26B1D;
    border-radius: 50%;
    border: 5px solid #262626;
    z-index: 1;
    top: -47%;
    left: -246.3%;
}
.foto_2{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.imagen_2{
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    
}
.Articulos_3{
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 30px;
    width: 100%;
    height: 30%;
    background-color: #F26B1D;
    font-size: 3rem;
    color:#262626;   
}
