* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100dvh;
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 100vh;
    
}

.grid-container {
    display: grid;
}
@media (min-width: 768px) {
    .texto_nombre {
        font-size: 60px; /* Ajustar tamaño de fuente */
    }
    .articulo {
        width: 95%; /* Ajustar ancho en pantallas pequeñas */
    }
    .texto_parrafos {
        font-size: 130%; /* Ajustar tamaño de fuente */
    }
    .titulo_parrafos {
        font-size: 6vw; /* Ajustar tamaño de fuente */
    }
    .escrito{
        top: 160%; /* Mantener esta posición según tu diseño */
        font-size: 90%; /* Ajustar tamaño de fuente */
    }
    
}
@media (max-width: 768px) {
    body {
        width: 100%; /* Mantener el ancho al 100% en pantallas pequeñas */
         /* Añadir padding en pantallas pequeñas */
    }
    .seccion {
        height: 100%; /* Cambiado de 100dvh a 100vh */
    }
    .texto_nombre {
        font-size: 6vw; /* Ajustar tamaño de fuente */
    }
    .articulo {
        width: 95%; /* Ajustar ancho en pantallas pequeñas */
        
    }
    .texto_parrafos {
        font-size: 3vw; /* Ajustar tamaño de fuente */
        
    }
    .titulo_parrafos {
        font-size: 6vw; /* Ajustar tamaño de fuente */
        
    }
    .escrito{
        top: 160%; /* Mantener esta posición según tu diseño */
        width: fit-content; /* Ajustar ancho en pantallas pequeñas */
        font-size: 2.0vw;

    }
}

.imagen {
    position: absolute;
    background-color: rgba(0, 0, 0 ); /* Cambiado para aplicar un color de fondo semitransparente */
    top: 0; /* Cambiado para que la imagen esté alineada con la parte superior */
    height: 100%; /* Cambiado para que ocupe toda la altura del contenedor */
    width: 100%;
    object-fit: cover; /* Mantiene la proporción de la imagen */
    filter: brightness(60%); /* Reducir el brillo al 50% */   
}
.imagen_fondo {
    
    background-color: rgba(0, 0, 0 ); /* Cambiado para aplicar un color de fondo semitransparente */
}

.inicio {
    display: flex;
    height: 100vh; /* Cambiado de 100dvh a 100vh */
    width: 100%;   /* Toda la anchura de la ventana */
    justify-content: flex-end; /* Cambiado a flex-end para alinear el contenido a la derecha */
    position: relative; /* Añadido para que el contenido se posicione sobre la imagen */
    
    z-index: 1; /* La imagen se coloca detrás del contenido */
}

.nombre {
    padding-right: 5%;
    padding-top: 5%;
    text-align: end; /* Alineación a la derecha */
    z-index: 2; /* Asegura que el contenido esté por encima de la imagen */
}

.texto_nombre {
    
    text-align: end; /* Alineación a la derecha */
    font-family: 'Roboto', sans-serif;
    color: white;
}

.descripcion {
    position: relative;
    align-items: center;
    text-align: center;

    top: 80%;
    z-index: 3; /* Asegura que el contenido esté por encima de la imagen */
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-left: 10%;
}

.descripcion_titulo {
    z-index: 3;
    color: white;
}

.menu {
    display: flex;
    height: 100%; /* Cambiado de 100dvh a 100vh */
    width: 100%;   /* Toda la anchura de la ventana */
    justify-content: flex-end;
    padding-right: 0.4%;
    background-color: #F2EDD5;
    
}

.Boton_menu a {
    text-decoration: none; /* Quita el subrayado */
    color: inherit; /* Hereda el color del botón */
  }
.texto-pag-2{
    color: #8C8149;
padding: 0% 0% 10% 0%;
}
.Boton_menu a {
    text-decoration: none; /* Quita el subrayado */
    color: inherit; /* Hereda el color del botón */
  }
.Boton_menu {
    
    padding: 10px 30px;
    text-align: center;
    border: none; /* Elimina el borde */
    
    height: fit-content;
    margin: 5px; /* Añadido margen para separar los botones */
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color:inherit
}

button::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: orange;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  button:hover::before {
    transform: translateX(0);
  }
.escrito {
    position: absolute;
    max-width: 600px;   
    
    left: 10%;
}

.seccion {
    height: 100%; /* Cambiado de 100dvh a 100vh */
    box-sizing: border-box;
    padding: 0%; /* Añadido espacio interno */
    margin: 0%;
    background-color: #BFB68A;

}

.articulos {
    gap: 10%; /* Añadido espacio entre las columnas */
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 3%;
    width: 100%;
    
}

.articulo {
    
    max-width: 800px; /* Mantener el ancho máximo */
    height: auto; 
    padding: 50px 20px ; /* Aumentado para más espacio interno */
    background-color: #8C8149;
    border-radius: 10px;
    margin: 5px; /* Cambiado para un margen uniforme */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadido sombra para profundidad */
}

.texto_parrafos {
    text-align: start;    
    color: white;

padding: 5% 5%;
max-height:550px;
font-weight: 100;
}
.titulo_parrafos{
    text-align: center;
    color: white;
font-size: 30px;
}

.Texto_contacto {
    max-width: 900px;
    margin: 0 auto; /* Centrar el contenido */
    padding: 20px; /* Aumentado para más espacio interno */
}

.Redes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}